#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_APC3

menu "Arlan-PonCat3 board options"

choice
	prompt "Arlan-PonCat3 board variants"
	default ARCH_BOARD_APC3_ARLAN_48GE_S

config ARCH_BOARD_APC3_ARLAN_48GE_S
	bool "Arlan-48GE-S"
	---help---
		Arlan PonCat3 board variant that
		contains the 48x1G Ethernet ports (RJ-45).

config ARCH_BOARD_APC3_ARLAN_48GE_FS
	bool "Arlan-48GE-FS"
	---help---
		Arlan PonCat3 board variant that
		contains the 48x1G Ethernet ports (SFP).

config ARCH_BOARD_APC3_ARLAN_24GE_S
	bool "Arlan-24GE-S"
	---help---
		Arlan PonCat3 board variant that
		contains the 24x1G Ethernet ports (RJ-45).

config ARCH_BOARD_APC3_ARLAN_24GE_FS
	bool "Arlan-24GE-FS"
	---help---
		Arlan PonCat3 board variant that
		contains the 24x1G Ethernet ports (SFP).

endchoice

endmenu


endif
